<!DOCTYPE html>
<html>
<head>
	<title>Iyinoluwa's portfolio</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<div>
  <nav class="navbar navbar-light">
  	<a class="navbar-brand" href="#">Developer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="text-right p-4">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      	<li class="nav-item active">
        	<a class="nav-link" href="#">Home</a>
      	</li>
      	<li class="nav-item">
        	<a class="nav-link" href="#">About</a>
      	</li>
      	<li class="nav-item">
        	<a class="nav-link" href="#">Services</a>
      	</li>
      	<li class="nav-item">
        	<a class="nav-link" href="#">Portfolio</a>
      	</li>
      	<li class="nav-item">
        	<a class="nav-link" href="#">Contact</a>
      	</li>
    </div>
  </div>
</div>
<div class="container">
	<h4>OLUlEKE IYINOLUWA ESTHER</h4>
	<p>I conceptualize website solutions with the latest technology, design theory and a large dose of creativity. Committed to viableand easily functional web solution for client. I have projects i have worked on </p>
	<button>Hire me</button>
</div>

